<h1>Weights</h1>

<%= link_to "New Weight Entry", new_weight_path %>

<div data-controller="stradita" data-bridge-title="Hello Mundin!"></div>

<ul>
    <% @weights.each do |weight| %>
    <li>
        <a href="weights/<%= weight.id %>">
            <%= weight.weight_kg %> - <%= weight.date %>
        </a>
    </li>
    <% end %>
</ul>